.nav-default {
  height: 100px;
  vertical-align: middle;
}
.content {
  width: 75%;
  text-align: center;
}
.logo-main {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.inner-addon {
  position: relative;
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
}
.right-addon .fa { right: 20px; }
.right-addon input { padding-right: 30px; }
footer {
  margin-top: 200px;
}
.button button{
  margin: 10px;
  font-size: 12px;
}
